<div class=" container wrapper">
    <a href="http://localhost:4200" class="logo">DevDuo.</a>
    <ul class="menu">
        <li class="menu__item" (click)="moveToSection('#hero')">
            <a>{{ 'we' | translate }}</a>
        </li>
        <li class="menu__item" (click)="moveToSection('#skills')">
            <a>{{ 'skills' | translate }}</a>
        </li>
        <li class="menu__item" (click)="moveToSection('#projects')">
            <a>{{'projects' | translate }}</a>
        </li>
        <li class="menu__item" (click)="moveToSection('#offer')">
            <a>{{ 'offer' | translate }}</a>
        </li>
        <li class="menu__item" (click)="moveToSection('#contact')">
            <a>{{ 'contact' | translate }}</a>
        </li>
        
    </ul>
    <div style="margin-left: auto;">
        <button (click)="changeLanguage('pl')" class="switch-button">pl</button> | <button (click)="changeLanguage('en')" class="switch-button">en</button>
    </div>
</div>