@import '../../../shared/scss/variables';

@media(max-width: 1230px) {
    .wrapper {
        padding: 0 80px;
    }
}
@media(max-width: 736px) {
    .wrapper { 
        display: none !important;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    max-height: 100px;
    z-index: 999;
    background: none;
    overflow: hidden;
    max-height: 100px;
    height: 100%;
    background: #FFF;
    padding: 45px 0px 25px;
    transition: all ease 0.5s;
    padding: 0 40px;
    .logo {
        font-size: 22px;
        color: #c8d6df;
        display: inline-block;
        font-family: 'Stolzl';
        transform: translateX(-20px);
        transition: all .65s cubic-bezier(.62, .02, .34, 1);
        text-decoration: none;
        &:hover {
            color: $blue-color;
        }
    }

    .menu {
        padding-left: 30px;
        list-style: none;
        margin: 0;
        display: flex;
        &__item {
            margin-right: 30px;
            cursor: pointer;
            font-family: 'Stolzl';
            position: relative;
            
            text-decoration: none;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                // width: 100%;
                background-color: $blue-color;
                pointer-events: none;
                transform: scale3d(0,1,1);
                transform-origin: 0% 50%;
                transition: transform 0.5s;
                transition-timing-function: cubic-bezier(0.8,0,0.2,1);
            }
            &:hover::after {
                transform: scale3d(1,1,1);
            }
            a {
                text-decoration: none;
                letter-spacing: -0.6px;
                font-size: 14px;
                color: #092545;

            }
        }
    }
}

.switch-button {
    outline: 0;
    border: 0;
    background-color: #fff;
    font-family: 'Stolzl';
}