<div class="container">
    <a href="http://localhost:4200" class="logo">DevDuo.</a>
    <ul class="menu">
        <li class="menu__item">
            <a href="#">{{ 'we' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="#">{{ 'skills' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="#">{{'projects' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="#">{{ 'offer' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="#">{{ 'contact' | translate }}</a>
        </li>
        
    </ul>
    <div style="margin-left: auto;">
        <button (click)="changeLanguage('pl')" class="switch-button">pl</button> | <button (click)="changeLanguage('en')" class="switch-button">en</button>
    </div>
</div>