<div class="container">
    <a href="http://localhost:4200" class="logo">DevDuo.</a>
    <ul class="menu">
        <li class="menu__item">
            <a href="#">We</a>
        </li>
        <li class="menu__item">
            <a href="#">Skills</a>
        </li>
        <li class="menu__item">
            <a href="#">Projects</a>
        </li>
        <li class="menu__item">
            <a href="#">Offer</a>
        </li>
        <li class="menu__item">
            <a href="#">Contact</a>
        </li>
        
    </ul>
</div>