@mixin main-gradient {
    background-image: -webkit-linear-gradient(left, $pink-color, $orange-color);
    background-image: -moz-linear-gradient(left, $pink-color, $orange-color);
    background-image: -ms-linear-gradient(left, $pink-color, $orange-color);
    background-image: -o-linear-gradient(left, $pink-color, $orange-color);
    background-image: linear-gradient(to bottom, $pink-color, $orange-color);
  }

@mixin clip-path {
  -webkit-background-clip: text;
  background-clip: text;
}