@font-face {
    font-family: 'Stolzl';
    src: url('../typography/Stolzl-Regular.eot'); /* IE9 Compat Modes */
    src: url('../typography/Stolzl-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../typography/Stolzl-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../typography/Stolzl-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../typography/Stolzl-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }


  @font-face {
    font-family: 'Stolzl book';
    src: url('../typography/Stolzl-book.eot'); /* IE9 Compat Modes */
    src: url('../typography/Stolzl-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../typography/Stolzl-book.woff2') format('woff2'), /* Super Modern Browsers */
         url('../typography/Stolzl-book.woff') format('woff'), /* Pretty Modern Browsers */
         url('../typography/Stolzl-book.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Stolzl light';
    src: url('../typography/Stolzl-light.eot'); /* IE9 Compat Modes */
    src: url('../typography/Stolzl-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../typography/Stolzl-light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../typography/Stolzl-light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../typography/Stolzl-light.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Stolzl bold';
    src: url('../typography/Stolzl-bold.eot'); /* IE9 Compat Modes */
    src: url('../typography/Stolzl-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../typography/Stolzl-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../typography/Stolzl-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../typography/Stolzl-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }