@import "../../shared/variables";

.container {
  max-width: 1200px;
  width: 100%;
  // overflow: hidden;
  .container__header {
    font-size: 150px;
    letter-spacing: -7px;
    text-indent: -3px;
    margin: 40px 0 30px -6px;
    padding: 20px 0px 10px 0px;
    letter-spacing: -3px;
    line-height: 85px;
    font-size: 100px;
    font-family: "Stolzl Bold";
    display: inline-block;
    background-image: -webkit-linear-gradient(left, $pink-color, $orange-color);
    background-image: -moz-linear-gradient(left, $pink-color, $orange-color);
    background-image: -ms-linear-gradient(left, $pink-color, $orange-color);
    background-image: -o-linear-gradient(left, $pink-color, $orange-color);
    background-image: linear-gradient(to bottom, $pink-color, $orange-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    word-wrap: wrap;
  }
  @media(max-width: 750px) {
    .container__header {
      margin-top: 30px;
      font-size: 80px;
    }
  }

  @media (min-width: 750px) {
    .container__projects {
      grid-template-columns: repeat(2, 1fr);
    }

    .container__projects .wrapper:nth-child(odd) {
      position: relative;
      top: 70px;
    }
  }

  .container__projects {
    max-width: 1200px;
    min-height: 500px;
    display: grid;
    margin: 0 auto;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;

    .wrapper {
      width: 100%;
      min-width: 200px;
      max-width: 500px;
      transition: 2s ease;
      justify-self: center;
      height: 100%;
      &:hover > .project__card {
        transform: scale(0.85);
        overflow: visible;
      }
      &:hover > .project__card > .project__card__preview > img {
        transform: scale(1.25) translateX(50px);
        z-index: 999;
      }
      .project__card {
        height: 100%;
        max-height: 602px;
        min-height: 400px;
        margin-bottom: 60px;
        padding: 40px 30px;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &__title {
          font-family: "Stolzl Bold";
        }
        &__sub-title {
          font-family: "Stolzl";
          width: 80%;
          font-size: 22px;
          @media(max-width: 740px) {
            font-size: 16px;
          }
        }
        &__preview {
          width: 60%;
          img {
            min-width: 250px;
            max-width: 500px;
            // width: 100%;
            position: absolute;
            bottom: 40px;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
        }
        &--blue {
          background-color: $blue-color;
        }
        &--purple {
          background-color: #7e42e1;
        }
        &--gray {
          background-color: #e5e8ee;
        }
      }
    }
  }
}

.white-color {
  color: #fff;
}

.black-color {
  color: $dark-blue-color;
}

// animations
.faded-out-bottom {
  transform: translateY(50px);
  opacity: 0;
}

.released-to-position {
  transform: translateY(0);
  opacity: 1;
}


// animations
.faded-out-bottom {
  transform: translateY(50px);
  opacity: 0;
}


.released-to-position {
  transform: translateY(0);
  opacity: 1;
}


// animations
.faded-out-bottom {
  transform: translateY(50px);
  opacity: 0;
}


.released-to-position {
  transform: translateY(0);
  opacity: 1;
}
