.main-header{
    position: fixed;
    top: 0px;
    max-height: 100px;
    z-index: 999;
    width: 100%;
    background: none;
    overflow: hidden;
    background: #FFF;
    padding: 45px 0px 25px;
    transition: all ease 0.5s;
}