@import "~bootstrap/scss/bootstrap";
@import "./shared/scss/variables";
@import "./shared/scss/typography";

*, *::after, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body { 
  overflow-x: hidden; 
 }

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'HelveticaNeue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal;
    font-size: 17px;
    color: #092545;
    transition: background 0.5s ease; 
}

.bodybg-color {
  background-color: $dark-blue-color !important;
}

.white-text {
  color: #fff;
}