<div class="container" id="hero">

  <div col-lg-8 col-md-6 class="hero-content">
    <div class="hero-text">
      <ngtypewriter [StringList]="list" [speed]="1000"></ngtypewriter>
    </div>
    <h1 class="hero-header" [innerHtml]=" 'developer' | translate ">
    </h1>
    <p class="hero-description">
      {{ 'nice_to_meet_you' | translate }}<br />
      {{ 'hi_we_are_Adrian_and_Jakub' | translate }}
    </p>
    <button class="hero-button">{{ 'scroll_down' | translate }}</button>
  </div>

  <div class="hero-image" col-lg-4 col-md-6>
    <img src="../assets/icons/hero-image.png" alt="" class="img-fluid"/>
  </div>
</div>
