@import "../../shared/variables";


.container {
  display: flex;
}
.hero-image, .hero-content {
  display: flex;
  align-items: flex-end;
  padding: 0;
  height: 650px;
}

.hero-image {
  margin-left: 50px;
}
.hero-content {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Stolzl";

  .hero-header {
    font-size: 150px;
    letter-spacing: -7px;
    line-height: 110px;
    margin-bottom: 30px;
    text-indent: -3px;
    margin-left: -6px;
    padding: 20px 0px 10px 0px;
    letter-spacing: -3px;
    line-height: 72px;
    font-size: 100px;
    font-family: "Stolzl Bold";
    display: inline-block;
    background-image: -webkit-linear-gradient(left, #f15b74, #ff6021);
    background-image: -moz-linear-gradient(left, #f15b74, #ff6021);
    background-image: -ms-linear-gradient(left, #f15b74, #ff6021);
    background-image: -o-linear-gradient(left, #f15b74, #ff6021);
    background-image: linear-gradient(to bottom, #f15b74, #ff6021);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    word-wrap: wrap;
  }

  .hero-description {
    font-family: "Stolzl light";
    margin-bottom: 30px;
    line-height: 30px;
    height: 80px;
  }
  .hero-button {
    width: 250px;
    height: 60px;
    padding: 7px 12px 7px 20px;
    font-family: "Stolzl book";
    text-align: left;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    overflow: hidden;
    color: white;
    &::before {
      content: "";
      background-color: darken($blue-color, 20%);
      z-index: -1;
      transform: translate3D(0, -100%, 0);
      transition: all 0.3s;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    &:hover::before {
      transform: translate3D(0, 0%, 0);
    }
    &:hover {
      background-color: transparent;
    }
    &::after {
      content: "";
      background-color: $blue-color;

      z-index: -1;
      transform: translate3D(
        0,
        0%,
        0
      ); /* move elements above button so they don't appear initially */
      transition: all 0.3s;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    &:hover::after {
      transform: translate3D(0, 100%, 0);
    }
  }
}
