<div class="container">

  <div col-lg-8 col-md-6 class="hero-content">
    <div class="hero-text">
      <ngtypewriter [StringList]="list" [speed]="1000"></ngtypewriter>
    </div>
    <h1 class="hero-header">
      Develop-<br />
      ers
    </h1>
    <p class="hero-description">
      Nice to meet you!<br />
      Hi we are Adrian and Jakub
    </p>
    <button class="hero-button">scroll down</button>
  </div>

  <div class="hero-image" col-lg-4 col-md-6>
    <img src="../assets/hero-image.png" alt="" class="img-fluid"/>
  </div>
</div>
