@import "../../shared/variables";

*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid1 {
  
  overflow:hidden;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  .skills-header {
    font-family: "Stolzl";
    margin-bottom: 40px;
    margin-top: 100px;
    padding: 0;
    transition: 2s ease;
  }

  .skills-skills {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  @media (min-width: 900px) {
    .skills-skills { grid-template-columns: repeat(2, 1fr); }
  }
}



.card-container {
  font-family: "Stolzl";
  background-color: $dark-blue-color;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  justify-self: center;
  position: relative;
  min-width: 300px;
  max-width: 400px;;
  text-align: center;
  margin: 0 10px 0 10px;
  overflow: hidden;
  transition: .7s ease;
  &__pro {
    color: #231e39;
    background-image: linear-gradient(to bottom, $pink-color, $orange-color);
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__image {
    border: 1px solid $blue-color;
    border-radius: 50%;
    padding: 7px;
    height: 150px;
    width: 150px;
  }

  &__header {
    margin: 10px 0;
  }
  &__description {
    font-size: 14px;
    line-height: 21px;
  }

  .primary-button {
    margin-top: 20px;
    background-color: $blue-color;
    border: 1px solid $blue-color;
    border-radius: 3px;
    color: #fff;
    font-family: "Stolzl";
    font-weight: 500;
    padding: 10px 25px;
    &--ghost {
      background-color: transparent;
      color: $blue-color;
    }
  }
}

.skills {
  background-color: #1f1a36;
  height: 40%;
  text-align: left;
  padding: 15px;
  margin-top: 30px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item {
      border: 2px solid $dark-blue-color;
      border-radius: 2px;
      display: inline-block;
      font-size: 12px;
      margin: 0 7px 7px 0;
      padding: 7px;
    }
  }
}

h6 {
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}

.faded-out {
  opacity: 0;
  transform: translateY(-30px);
}

.released {
  opacity: 1;
  transform: translateY(0);
}

.faded-out-right {
  transform: translateX(50px);
  opacity: 0;
}

.faded-out-left {
  transform: translateX(-50px);
  opacity: 0;
}


.released-to-position {
  transform: translateX(0);
  opacity: 1;
}