<div class="container-fluid mt-5" id="skills">
  <h1
    class="skills-header col-lg-12"
    animateOnScroll
    startAnimation="faded-out"
    endAnimation="released"
    [scrollOffset]="600"
    [timeOffset]="1000"
  >
    {{ "knowledge_Skills" | translate }}
  </h1>
  <div class="skills-skills">
    <div
      class="card-container"
      animateOnScroll
      startAnimation="faded-out-right"
      endAnimation="released-to-position"
      [scrollOffset]="650"
      [timeOffset]="1000"
    >
      <span class="card-container__pro">BE</span>
      <img
        src="../../assets/icons/be_avatar.svg"
        alt="user"
        class="card-container__image"
      />
      <h3 class="card-container__header">Jakub Kawa</h3>
      <p
        class="card-container__description"
        [innerHtml]="'cloud_logical' | translate"
      ></p>
      <div class="card-container__buttons-group">
        <button class="primary-button">Message</button>
        <button class="primary-button primary-button--ghost">Following</button>
      </div>
      <div class="skills">
        <h6 class="skills__header">{{ "skills" | translate }}</h6>
        <ul class="skills__list">
          <li class="skills__list__item">Azure</li>
          <li class="skills__list__item">Back End Development</li>
          <li class="skills__list__item">C#</li>
          <li class="skills__list__item">.Net</li>
          <li class="skills__list__item">MSSQL</li>
          <li class="skills__list__item">WEB API</li>
          <li class="skills__list__item">Serverless</li>
        </ul>
      </div>
    </div>
    <div
      class="card-container"
      animateOnScroll
      startAnimation="faded-out-right"
      endAnimation="released-to-position"
      [scrollOffset]="650"
      [timeOffset]="1000"
    >
      <span class="card-container__pro">FE</span>
      <img
        src="../../assets/icons/fe_avatar.svg"
        alt="user"
        class="card-container__image"
      />
      <h3 class="card-container__header">Adrian Turbiński</h3>
      <p
        class="card-container__description"
        [innerHtml]="'designer_development' | translate"
      ></p>
      <div class="card-container__buttons-group">
        <button class="primary-button">Message</button>
        <button class="primary-button primary-button--ghost">Following</button>
      </div>
      <div class="skills">
        <h6 class="skills__header">{{ "skills" | translate }}</h6>
        <ul class="skills__list">
          <li class="skills__list__item">UI / UX</li>
          <li class="skills__list__item">Front End Development</li>
          <li class="skills__list__item">HTML</li>
          <li class="skills__list__item">CSS</li>
          <li class="skills__list__item">JavaScript</li>
          <li class="skills__list__item">Angular</li>
          <li class="skills__list__item">Typescript</li>
          <li class="skills__list__item">RxJS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
